.r2d3 .box {
  font: 10px sans-serif;
}

.r2d3 .box line,
.r2d3 .box rect,
.r2d3 .box circle {
  stroke-width: 1.5px;
}

.r2d3 .box .center {
  stroke-dasharray: 3,3;
}

.r2d3 .box .outlier {
  fill: none;
  stroke: #ccc;
}
