.r2d3 .links {
  stroke: #000;
  stroke-opacity: 0.2;
}

.r2d3 .polygons {
  fill: none;
  stroke: #000;
}

.r2d3 .polygons :first-child {
  fill: #f00;
}

.r2d3 .sites {
  fill: #000;
  stroke: #fff;
}

.r2d3 .sites :first-child {
  fill: #fff;
}
